In [1]:
import pandas as pd
import yfinance as yf
from Metrics import BacktestMetrics

In [2]:
ril_nse = yf.download('RELIANCE.NS',start='2024-01-01',end='2025-01-01')
ril_nse.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
ril_nse.to_csv('ril1.csv')
ril_nse = pd.read_csv('ril1.csv')
ril_nse = ril_nse.drop(['Adj Close', 'Low','High'], axis=1)
ril_nse.columns = ['Date','N_Close','N_Open','N_Volume']
ril_nse.head()

[*********************100%***********************]  1 of 1 completed

                        Date      N_Close       N_Open  N_Volume
0  2024-01-01 00:00:00+00:00  1295.125000  1290.275024   4030540
1  2024-01-02 00:00:00+00:00  1305.849976  1292.500000   7448800
2  2024-01-03 00:00:00+00:00  1291.650024  1305.000000   9037536
3  2024-01-04 00:00:00+00:00  1298.324951  1294.000000   9612778
4  2024-01-05 00:00:00+00:00  1303.849976  1301.449951   8086406

In [3]:
ril_bse = yf.download('RELIANCE.BO',start='2024-01-01',end='2025-01-01')
ril_bse.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
ril_bse.to_csv('ril2.csv')
ril_bse = pd.read_csv('ril2.csv')
ril_bse = ril_bse.drop(['Adj Close', 'Low','High'], axis=1)
ril_bse.columns = ['Date','B_Close','B_Open','B_Volume']
ril_bse.head()

[*********************100%***********************]  1 of 1 completed

                        Date      B_Close       B_Open  B_Volume
0  2024-01-01 00:00:00+00:00  1294.925049  1290.525024    135282
1  2024-01-02 00:00:00+00:00  1305.449951  1293.824951    172372
2  2024-01-03 00:00:00+00:00  1291.474976  1304.050049    215002
3  2024-01-04 00:00:00+00:00  1298.699951  1294.699951    325168
4  2024-01-05 00:00:00+00:00  1303.375000  1300.074951    931030

In [4]:
df = pd.merge(ril_nse, ril_bse, on='Date', how='inner')
df.tail()

,Date,N_Close,N_Open,N_Volume,B_Close,B_Open,B_Volume
239,2024-12-24 00:00:00+00:00,1222.750000,1222.300049,6734917,1223.500000,1231.900024,268064
240,2024-12-26 00:00:00+00:00,1216.550049,1224.250000,10016178,1216.599976,1224.650024,556935
241,2024-12-27 00:00:00+00:00,1221.050049,1218.300049,7000397,1220.949951,1216.650024,653086
242,2024-12-30 00:00:00+00:00,1210.699951,1216.400024,8818766,1210.900024,1219.650024,314452
243,2024-12-31 00:00:00+00:00,1215.449951,1208.000000,6405475,1215.449951,1210.400024,444246

In [5]:
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values("Date")

initial_balance = 100000
money = initial_balance
no_of_stk = 0
portfolio_values = [100000]

for i in range(len(df) - 1):  
    today = df.iloc[i]
    next_day = df.iloc[i + 1]
    if today["N_Close"] < today["B_Close"]:  
        no_of_stk = money // today["N_Close"]  
        left = money - (no_of_stk * today["N_Close"])
        if next_day["B_Open"]>next_day["N_Open"]:
            money = left +  (no_of_stk * next_day["B_Open"])
        else:
            money = left +  (no_of_stk * next_day["N_Open"])
        no_of_stk = 0  

    elif today["B_Close"] < today["N_Close"]:  
        no_of_stk = money // today["B_Close"]
        left = money - (no_of_stk * today["B_Close"])
        if next_day["B_Open"]<next_day["N_Open"]:
            money = left +  (no_of_stk * next_day["N_Open"])
        else:
            money = left +  (no_of_stk * next_day["B_Open"])
        no_of_stk = 0

    portfolio_values.append(money)

print(portfolio_values)

df["Portfolio_Value"] = portfolio_values
df.tail(10)

[100000, 99915.29248046875, 99881.09619140625, 100129.41931152344, 100370.04431152344, 100587.56555175781, 101122.71179199219, 101126.61560058594, 101470.51745605469, 101522.32287597656, 101888.61926269531, 101682.39782714844, 101023.80505371094, 100283.80505371094, 100944.45861816406, 101258.36218261719, 101807.46032714844, 101738.08166503906, 102594.96032714844, 103427.95349121094, 103303.84814453125, 103951.84814453125, 104443.25341796875, 104682.87841796875, 105055.47314453125, 105648.59814453125, 106254.50170898438, 106537.37670898438, 106566.17846679688, 106860.00524902344, 106357.80700683594, 106503.35180664062, 106926.35180664062, 107034.03393554688, 107174.43920898438, 107435.43920898438, 107528.51599121094, 108091.91247558594, 108214.30895996094, 108014.50720214844, 107856.11071777344, 108671.96252441406, 108871.75891113281, 108754.75891113281, 108758.35363769531, 108439.75012207031, 108439.75012207031, 109419.76977539062, 109493.76977539062, 109839.72338867188, 110411.61596679688, 110103.61596679688, 110240.29284667969, 109755.79284667969, 109963.68908691406, 110657.18908691406, 110605.88537597656, 109849.68908691406, 110476.68908691406, 110796.74450683594, 111288.84631347656, 111288.84631347656, 111126.04089355469, 111767.29455566406, 111848.99084472656, 112076.99084472656, 112339.49084472656, 113207.78527832031, 113070.98156738281, 112597.4296875, 111848.83154296875, 111753.83154296875, 111404.2333984375, 111769.8583984375, 112101.73706054688, 112424.73706054688, 111949.25830078125, 112310.25830078125, 112308.33142089844, 112534.42956542969, 113074.03698730469, 113455.18322753906, 113731.68322753906, 113451.68322753906, 113133.68518066406, 114004.662109375, 114276.01013183594, 113666.48315429688, 113654.33117675781, 113862.32922363281, 114100.33703613281, 113936.34289550781, 113474.19482421875, 113537.38903808594, 113443.06591796875, 113258.76220703125, 113296.76220703125, 113662.51220703125, 113106.76220703125, 113206.21411132812, 113796.73718261719, 118351.07946777344, 117855.78137207031, 120180.47521972656, 121377.47521972656, 121159.07727050781, 121335.37927246094, 121718.72326660156, 121787.19421386719, 122615.1171875, 123086.14624023438, 123922.3671875, 124486.77124023438, 125028.64624023438, 125064.35034179688, 124427.9482421875, 124946.10034179688, 124591.22119140625, 124595.3251953125, 124595.3251953125, 124561.74633789062, 125300.39440917969, 125392.38659667969, 125876.38073730469, 125866.25573730469, 125970.92687988281, 125898.77307128906, 126287.85192871094, 126726.30578613281, 127186.30578613281, 127186.30578613281, 127134.95385742188, 127156.95581054688, 127342.95190429688, 125925.45190429688, 126085.22082519531, 125847.92492675781, 124644.62902832031, 125314.84997558594, 126231.99389648438, 126005.82092285156, 125524.41687011719, 126095.04187011719, 125240.13781738281, 123644.46484375, 124309.59606933594, 125752.46899414062, 125488.97106933594, 126873.56896972656, 126516.66687011719, 126677.91687011719, 126686.52526855469, 127316.48156738281, 127802.38366699219, 128552.50451660156, 128323.00866699219, 128724.63159179688, 129587.37329101562, 129587.37329101562, 129538.50244140625, 130119.00244140625, 130944.60034179688, 132797.89404296875, 133337.28979492188, 133772.28979492188, 133030.88549804688, 133481.10412597656, 133656.876953125, 133809.30639648438, 133804.76306152344, 134075.48583984375, 134799.98583984375, 134617.98583984375, 135211.76306152344, 135484.76306152344, 135484.76306152344, 135772.26306152344, 135772.26306152344, 136234.08361816406, 135924.68139648438, 135492.43139648438, 135379.93139648438, 135564.43579101562, 134968.23364257812, 135402.7608642578, 132803.7608642578, 132806.1131591797, 134083.8585205078, 135007.78588867188, 135391.78588867188, 136134.14306640625, 136131.66564941406, 137096.91564941406, 135804.9608154297, 135804.9608154297, 137339.95837402344, 137026.8485107422, 138131.84118652344, 138214.33630371094, 137923.6387939453, 137818.06127929688, 138231.15380859375, 139299.75634765625, 139299.75634765625, 139606.56396484375, 140417.75634765625, 140334.55126953125, 141388.49865722656, 141245.4012451172, 141245.4012451172, 141118.8985595703, 141432.4093017578, 141116.06201171875, 141396.06201171875, 141396.06201171875, 141407.25927734375, 142057.00927734375, 142857.412109375, 146150.21484375, 147218.05932617188, 147240.65380859375, 147133.29553222656, 148191.2899169922, 148128.59826660156, 149235.98999023438, 149644.77905273438, 150260.3818359375, 150904.4901123047, 149921.2344970703, 149921.2344970703, 150112.63732910156, 149773.33447265625, 150021.13159179688, 150272.6844482422, 149635.4815673828, 149431.4874267578, 147872.57580566406, 147812.57580566406, 149270.4698486328, 150466.07580566406, 150699.77880859375, 150915.02880859375, 150755.1378173828, 150717.94689941406]

,Date,N_Close,N_Open,N_Volume,B_Close,B_Open,B_Volume,Portfolio_Value
234,2024-12-17 00:00:00+00:00,1245.300049,1261.050049,17462791,1245.099976,1262.650024,639483,149635.481567
235,2024-12-18 00:00:00+00:00,1253.250000,1240.650024,12670179,1253.050049,1243.400024,260426,149431.487427
236,2024-12-19 00:00:00+00:00,1230.449951,1239.000000,14244653,1230.599976,1239.949951,424104,147872.575806
237,2024-12-20 00:00:00+00:00,1205.300049,1224.000000,20312896,1206.000000,1229.949951,1166317,147812.575806
238,2024-12-23 00:00:00+00:00,1222.300049,1215.000000,10052824,1222.099976,1217.250000,3332773,149270.469849
239,2024-12-24 00:00:00+00:00,1222.750000,1222.300049,6734917,1223.500000,1231.900024,268064,150466.075806
240,2024-12-26 00:00:00+00:00,1216.550049,1224.250000,10016178,1216.599976,1224.650024,556935,150699.778809
241,2024-12-27 00:00:00+00:00,1221.050049,1218.300049,7000397,1220.949951,1216.650024,653086,150915.028809
242,2024-12-30 00:00:00+00:00,1210.699951,1216.400024,8818766,1210.900024,1219.650024,314452,150755.137817
243,2024-12-31 00:00:00+00:00,1215.449951,1208.000000,6405475,1215.449951,1210.400024,444246,150717.946899

In [9]:
import numpy as np


backtest= BacktestMetrics()
portfolio_values = np.array(portfolio_values)
portfolio_returns = np.diff(portfolio_values) / portfolio_values[:-1]

strategy_cagr = backtest.calculate_cagr(start_value = portfolio_values[0], end_value = portfolio_values[-1], years = 1)
strategy_sharpe = backtest.calculate_sharpe_ratio(returns = portfolio_returns)
strategy_sortino = backtest.sortino_ratio(returns=portfolio_returns)
strategy_calmar = backtest.calmar_ratio(returns=portfolio_returns)
print("STRATEGY CAGR:", strategy_cagr, "%")
print("STRATEGY SHARPE:", strategy_sharpe)
print("SORTINO RATIO:", strategy_sortino)
print("CALMAR RATIO:", strategy_calmar)

STRATEGY CAGR: 50.717946899414066 %
STRATEGY SHARPE: 0.32129686121047457
SORTINO RATIO: 7.02147991083091
CALMAR RATIO: 14.781654934321839